@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$header-color: #212731;
$header-text-color: #D1D6DA;
$h1-color:#2C384A;
$input-border-color: #E1E4E6;
$icon-text-color:#4B5665;
$hr-color:#E1E4E6;
$heading-dark:#4B5665;
$heading-light:#727D87;
$light-icon-color: #626e79;
$dark-icon-color: #5C6874
