@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
$header-color: #212731;
$header-text-color: #d1d6da;
$h1-color: #2c384a;
$input-border-color: #e1e4e6;
$icon-text-color: #4b5665;
$hr-color: #e1e4e6;
$heading-dark: #4b5665;
$heading-light: #727d87;
$light-icon-color: #626e79;
$dark-icon-color: #5c6874;
$tag-color: #ff7724;
$primary-text-color: #ffffff;
$card-color: #ffffff;
$background-color: #fbfcfd;
$secondary-color: #626e79;
$border-color: #e1e4e6;
$dark-color: #4b5665;
$darker-color: #2c384a;
$blue-color: #1b88f4;
$light-blue: #f3f9ff;
$dark-blue: #074786;
$light-grey: #BABEC3